openai
sft_data_generation/preprocess/extract_similarity_matrix/Video-ColBERT
data/d1
data/d2_reranked
data/d3
SFT/sft_data_generation/preprocess/extract_similarity_matrix/Video-ColBERT/
output/
data/
train_data/
video_retrieval/
anet_ret_val_1.json
wandb/
var1_exp/