nvidia-nvshmem-cu12==3.3.20
nvidia-cuda-nvrtc-cu12==12.8.93
cycler==0.12.1
jieba==0.42.1
packaging==25.0
scipy==1.15.3
asttokens==3.0.1
PyYAML==6.0.3
tzdata==2025.2
peft==0.15.2
safetensors==0.5.3
dill==0.3.8
nvidia-cuda-cupti-cu12==12.8.90
exceptiongroup==1.3.0
audioread==3.1.0
cffi==2.0.0
hf-xet==1.2.0
tiktoken==0.12.0
websockets==15.0.1
protobuf==6.33.1
pyarrow==22.0.0
xxhash==3.6.0
triton==3.5.1
nltk==3.9.2
threadpoolctl==3.6.0
torchvision==0.24.1
omegaconf==2.3.0
librosa==0.11.0
huggingface-hub==0.36.0
annotated-types==0.7.0
charset-normalizer==3.4.4
contourpy==1.3.2
aiohappyeyeballs==2.6.1
anyio==4.11.0
antlr4-python3-runtime==4.9.3
gradio==5.31.0
urllib3==2.5.0
kiwisolver==1.4.9
typing_extensions==4.15.0
multiprocess==0.70.16
tokenizers==0.22.1
Pygments==2.19.2
nvidia-cublas-cu12==12.8.4.1
nvidia-curand-cu12==10.3.9.90
python-multipart==0.0.20
nvidia-cusparse-cu12==12.5.8.93
accelerate==1.7.0
pytz==2025.2
transformers==4.57.1
typer==0.20.0
psutil==7.1.3
mpmath==1.3.0
propcache==0.4.1
executing==2.2.1
certifi==2025.11.12
starlette==0.50.0
groovy==0.1.2
pydub==0.25.1
setuptools==80.9.0
lazy_loader==0.4
uvicorn==0.38.0
networkx==3.4.2
fastapi==0.121.3
annotated-doc==0.0.4
fsspec==2025.3.0
async-timeout==5.0.1
safehttpx==0.1.7
Jinja2==3.1.6
wheel==0.45.1
nvidia-nccl-cu12==2.27.5
numba==0.62.1
platformdirs==4.5.0
pydantic_core==2.27.2
httpx==0.28.1
sentry-sdk==2.47.0
nvidia-cufile-cu12==1.13.1.3
py-cpuinfo==9.0.0
einops==0.8.1
soxr==1.0.0
termcolor==3.2.0
httpcore==1.0.9
six==1.17.0
gradio_client==1.10.1
icecream==2.1.8
pandas==2.3.3
matplotlib==3.10.7
pooch==1.8.2
aiohttp==3.13.2
python-dateutil==2.9.0.post0
idna==3.11
docstring_parser==0.17.0
nvidia-cudnn-cu12==9.10.2.21
pyparsing==3.2.5
orjson==3.11.4
sympy==1.14.0
sniffio==1.3.1
ruff==0.14.5
numpy==1.26.4
tomlkit==0.13.3
modelscope==1.32.0
fire==0.7.1
deepspeed==0.16.9
trl==0.9.6
frozenlist==1.8.0
shtab==1.8.0
aiosignal==1.4.0
aiofiles==24.1.0
regex==2025.11.3
nvidia-cuda-runtime-cu12==12.8.90
markdown-it-py==4.0.0
attrs==25.4.0
yarl==1.22.0
nvidia-cusolver-cu12==11.7.3.90
datasets==3.6.0
ffmpy==1.0.0
requests==2.32.5
pillow==11.3.0
hf_transfer==0.1.9
mdurl==0.1.2
brotli==1.2.0
rich==14.2.0
multidict==6.7.0
llvmlite==0.45.1
av==16.0.1
fonttools==4.60.1
tyro==0.8.14
joblib==1.5.2
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
shellingham==1.5.4
sse-starlette==3.0.3
wandb==0.23.1
decorator==5.2.1
torch==2.9.1
scikit-learn==1.7.2
nvidia-cufft-cu12==11.3.3.83
nvidia-ml-py==13.580.82
filelock==3.20.0
tqdm==4.67.1
sentencepiece==0.2.1
semantic-version==2.10.0
GitPython==3.1.45
ninja==1.13.0
gitdb==4.0.12
hjson==3.1.0
colorama==0.4.6
pycparser==2.23
click==8.3.1
soundfile==0.13.1
h11==0.16.0
llamafactory==0.9.4.dev0
nvidia-cusparselt-cu12==0.7.1
pip==25.3
rouge-chinese==1.0.3
pydantic==2.10.6
opencv-python==4.12.0.88
msgpack==1.1.2
MarkupSafe==3.0.3
smmap==5.0.2
typeguard==4.3.0
inflect==7.3.1
importlib_metadata==8.0.0
packaging==24.2
more-itertools==10.3.0
autocommand==2.2.2
jaraco.collections==5.1.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
wheel==0.45.1
zipp==3.19.2
typing_extensions==4.12.2
tomli==2.0.1
platformdirs==4.2.2
jaraco.text==3.12.1
backports.tarfile==1.2.0
